/* ----------------------- */
/* ----- projects----- */
/* ----------------------- */
.projects{
    overflow: hidden;
    /* height: 100vh; */
  }
      /* card-container */
  .projects .parent-projects {
  margin-top: 140px;
    justify-content: space-evenly;
    gap: 50px;
    row-gap: 120px;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  .projects .card-container{
    perspective: 1000px;
    min-height: 350px;
    box-shadow: 0px 8px 10px 1px rgba(128, 128, 128, 0.759);
    border-radius: 8px;
    transition: var(--transition);
    flex: 1;
    min-width: 300px;
    max-width: 390px;
    opacity: 0;
    transform: translate3d(0,0, -50px);
    animation: cards 1.5s forwards ;
    position: relative;
  }
  .projects .card-container.hidden{
    transition: var(--transition);
    display: none;
    animation:hidden-cards 1.5s forwards ;
  }
      /* card-container */
  .projects .card{
    position: absolute;
    top: 0;
    left: 0;
    transform-style:preserve-3d ;
    transition: 1s;
    height: 100%;
    width: 100%;
    transform-origin: left center ;
    border-radius: 8px;
    transform: rotateY(calc(360deg - 26deg));
  }
  .projects .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .projects .parent-projects .front{
    background: linear-gradient(350deg, rgb(102, 131, 236) 5%, #ffae7c);
    width: 100%;
    padding: 5px;
    transition: var(--transition);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
  }
  .projects .back{
    /* background-color: green; */
    transform: rotateY(180deg);
    border-radius: 8px;
  }
  
  .projects .card-container:hover{
    transform: translatey(-10px);
    box-shadow: 0px 10px 25px 1px rgba(0, 0, 0, 0.608);
  }
  .projects .card-container:hover .card{
    /* transform: rotateY(calc(360deg - 180deg)) ; */
  }
  
  .projects .card-container .content{
    position: absolute;
    /* background-color: #beea2d; */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 8px;
    /* background: linear-gradient(93deg, gray 60%, white );   */
    overflow: hidden;
    /* position: relative; */
  }
  
  .projects img{
    width: 100%;
    height: 50%;
    border-radius: 8px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.652));
  
  }
  .projects .parent-projects .text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* gap: 20px; */
    padding: 17px;
    width: 80%;
    z-index: 1;
  }
  .projects .parent-projects p{
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .projects .parent-projects span{
    text-shadow: 0px 0px 8px #fcad7c, 0 0 12px #fcad7c, 0 0 18px #fcad7c;
  }
  .projects .card button{
    outline: none;
    border: none;
    background: #66c4ec87;
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.582);
    position: absolute;
    bottom: 5%;
    left: 50%;
    color: white;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    transition: var(--transition);
    cursor: pointer;
  }
  .projects .card button:hover{
    /* background-color:red ; */
    color: black;
  }
          /* function pressing openCard */
  .projects .card.open-card{
    transform: rotateY(calc(360deg - 180deg));
  }
  
  .projects .card + .content::before,/*next element (+) */
  .projects .card .back::before{ 
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background-color: gray;
    filter: blur(10px);
  }
  .projects .card + .content::before{
    transition: var(--transition);  
    content: "";
  }
  .projects .card.open-card + .content::before{
    width: 20px;
    left: 0;
  }
  .projects .card + .content::before{
    content: "";
    width: 80%;
  }
  .projects .card.open-card .back::before{
    width: 11px;
    right: 0;
  } 
  .projects .card.open-card .back .x-back{
    position: absolute;
    background-color: #ff5b27;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    left: 0;
    top: 0;
    font-weight: bold;
    cursor: pointer;
    transition: var(--transition);
  }
  .projects .card.open-card .back .x-back:hover{
    background-color: red;
  }
  
  .projects .parent-projects div.ui-works:hover{
    /* background-color: rgb(239 165 121); */
    /* left: 11% !important; */
  }
  
  .projects .ui{
    top: -78px;
    font-size: 187px;
    right: -42px;
    color: #00000038;
    user-select: none;
  }
  /* ending projects */
  
  /* testing projects */
    .parent{
      perspective: 1000px;
      width: 400px;
      height: 400px;
      margin: 0 auto;
      border: 2px solid green;
    }
    .box{
      width: 100%;
      height: 100%;
      position: relative;
      transform-style:preserve-3d;
      transition: 1s;
      transform-origin: left;
    }
    .box .face{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      color: white;
      backface-visibility:hidden;
    }
    .box .back{
      transform: rotateY(180deg);
      background-color: green;
    }
    .box .front{
      background-color: blue;
    }
    .parent:hover .box{
      transform:rotateY(180deg);
    }
  /* end testing projects */
  
  
  
  /* starting email */
  .email{
    /* background-color: aqua; */
    position: relative;
  }
  .email::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
  background-color: rgba(144, 238, 144, 0.644);
  /* z-index: -1; */
  }
  